@import url('https://fonts.googleapis.com/css2?family=Baloo+Bhaijaan+2:wght@400;700;800&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* font-family: 'Baloo Bhaijaan 2', cursive; */
}


a
        {
        color: white;
        text-decoration: none;
        }




        